html
    head
        title Submitted Student data
    
    body
        h2 Student Details
        p
            strong Roll no : 
            | #{student.roll}
        p
            strong Name : 
            | #{student.name}
        p
            strong Division : 
            | #{student.div}
        p
            strong email : 
            | #{student.email}
        p
            strong Subject : 
            | #{student.subject}
        br
        a(href='/') Back to Form